In [33]:
import requests
from datetime import datetime
import pandas as pd
import numpy as np

In [17]:
secret_key = '0aa8aadaddac9ab8bea299eef9c901aee8c25d4d6e19b5cde8a80341c717fe07'
first_API_key = 'cdf943db37c03b3b4233868b0ae7cd2d07d051a5662754b3'

In [30]:
url = "https://api.coindcx.com/exchange/ticker"
response = requests.get(url)
data = response.json()

Get the first value from the data object

In [131]:
data_dict = data[0]
data_dict

{'market': 'BTCINR',
 'change_24_hour': '0.562',
 'high': '984928.68',
 'low': '962576.91',
 'volume': '6741738.32173199606028528',
 'last_price': '975398.42',
 'bid': '975398.42000000',
 'ask': '977490.58000000',
 'timestamp': 1603460777}

Convert the data_dict into a pandas dataframe

In [100]:
df = pd.DataFrame([data_dict])
df

,market,change_24_hour,high,low,volume,last_price,bid,ask,timestamp
0,BTCINR,0.562,984928.68,962576.91,6741738.32173199606028528,975398.42,975398.42000000,977490.58000000,1603460777

In [123]:
df['timestamp'].dt.date

0    2020-10-23
Name: timestamp, dtype: object

In [124]:
df

,market,change_24_hour,high,low,volume,last_price,bid,ask,timestamp
0,BTCINR,0.562,984928.68,962576.91,6741738.32173199606028528,975398.42,975398.42000000,977490.58000000,2020-10-23 14:46:17

In [129]:
df.timestamp[0]

10